@import "bootstrap-reboot";

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

::placeholder {
  color: gray;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;

  @media (max-aspect-ratio: 1/1) {
    flex-direction: column;
  }

  margin: 0 1em;

  width: 95vw;
  max-width: 1024px;
  height: 95vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  textarea,
  textarea:focus,
  textarea:active {
    flex: 1;
    resize: none;
    outline: none;
    padding: 1em;
    border: none;
    border-right: 3px solid #e8e8e8;

    @media (max-aspect-ratio: 1/1) {
      border-right: none;
      border-bottom: 3px solid #e8e8e8;
    }
  }

  .preview {
    flex: 1;
    overflow: auto;
    padding: 1em;
    margin: 0;
  }
}
